.bigList {
  margin-left: auto;
  margin-right: auto;
  width: 69%;
}
 
ol {
  color: #07b2eb;
  list-style-type: none;
}
 
ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: px;
}
 
li p {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
}
 
span {
  position: relative;
}